@import "tailwindcss";

.heroBackground{
    background-color: #ADD8E6;
    width: 100vw;
    height: 100vh;
}


.heroDesign{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.imageContainer{
    width: 33%;
    height: 100%;
}