@import "tailwindcss";

.heroParent{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    cursor: pointer;

}

.leftTextPane{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: monospace;
    font-size: 3vw;
    font-weight: bolder;
}
.subtitle{
    font-family: monospace;
    font-size: 1.5vw;
    font-weight: bold;
    margin-right: 1.5vw;
}
.typographyContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightPaneHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
}

.pictureWindow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
    height: 90%;
    width: 90%;
    border-radius: 2vw 2vw 2vw 2vw;
}

.photo{
    position: absolute;
    display: block;
    object-fit: cover;
    object-position: center; /*middle 33%*/
    height: 100vh;
    width: 50vw;
    opacity: 0; /*hidden*/
    transition: opacity 1s ease-in-out;
}
.photo.visible{
    opacity: 1;
    z-index: 1;
}

.gradient{
    position: absolute;
    background-color: lightcyan ;
    width: 50vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 2;
}

.thirdTitle{
    margin-top: 2vw;
    font-family: monospace;
    font-size: 1.3vw;
    font-weight: bold;
}