.dialogHeaderText{
    text-align: center;
    font-size: xx-large;
}

.dialogSubtext{
    margin-top:2vh;
    text-align: center;
    font-size: x-large;
    color:black;
}
.modalWrapper{
    width: fit-content;
}