.pathfindingCardWrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: fit-content;
    background-color: white;
    border-radius: .5vw .5vw .5vw 1vw ;
    z-index: 2;
    margin-left: .5vw;
    margin-right: 1vw;
    /*align-items: center;*/
}

.placeSelector{
    margin-top: 2.5vh;
    place-items: end;
    margin-right: 1vw;
    margin-left:1vw;
    width: 15vw;

}
.buttonContainer{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 1vw;
}
.pathfindingButton{
    width: fit-content;
    align-self: end;
}

.buttonContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonIcon{
    margin-right: .5vw;

}